# Core
python-dotenv>=1.0.0
langchain-core>=0.3.78,<1.0.0
langchain>=0.3.9
langchain_openai>=0.2.11
openai>=1.6.0
tenacity<9.0.0
langgraph==0.3.22
langgraph-checkpoint==2.0.23
tavily-python>=0.5.0
requests>=2.32.0
typing-extensions>=4.0.0
pydantic>=2.5.2
tiktoken>=0.5.1
langsmith
numpy<2.0.0
nest-asyncio>=1.5.0

# Data processing
pandas==2.2.1

# Benchmark
datasets>=3.5.0